<%= form_with(model: message) do |form| %>
  <% if message.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>
 <%#= form.hidden_field :user_id, value: current_user.id %>
 
  <div>
    <%= form.label :user_id, style: "display: block" %>
  
    <%= form.select :user_id, Chatroom.all.map{ |w| [w.id ] }, selected: "CHI" %>
  </div>

  <div>
    <%= form.label :chatroom_id, style: "display: block" %>
    <%= form.select :chatroom_id, Chatroom.all.map{ |w| [ w.name, w.id ] }, selected: "CHI" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>