<p style="color: green"><%= notice %></p>
<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
  
  <%= render @message %>

<div>
  <%= link_to "Edit this message", edit_message_path(@message) %> |
  <%= link_to "Back to messages", messages_path %>

  <%= button_to "Destroy this message", @message, method: :delete %>
</div>
</div>

